$FontStyle: 'Hind', sans-serif;
$picture: url(../img/m-h-day.jpg);
$backColor: white;
$UnderlineColor: #14a0c7;
$headlineColor: #2c2f3c;
$backgroundCardColor: #21232e;
$buttonColor: #699900;
$textCardColor: #b7b7b7;
$textFooterColor: #c0c3ce;
$gradientFirst: #699902;
$gradientSecond: #487777;
$gradientThird: #3866b2;
$gradientFourth: #2c5adb;
