$FontStyle: 'Fresca', sans-serif;
$picture: url(../img/m-h-night.jpg);
$backColor: #21232e;
$UnderlineColor: #ff4e33;
$headlineColor: white;
$backgroundCardColor: #3b3f50;
$buttonColor: #e3ac00;
$textCardColor: #c8d1d1;
$textFooterColor: #d1d1d1;
$gradientFirst: #e1a900;
$gradientSecond: #ba6d28;
$gradientThird: #a54a3f;
$gradientFourth: #922b53;
